* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
}

.render {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#options {
  font-size: 40px;
  color: white;
  font-family: 'Fredericka the Great', cursive;
  position: absolute;
  z-index: 10;
  color: white;
}

#options a {
  color: inherit;
  text-decoration: none;
}

#options a:hover {
  color: red;
}

#start {
  display: none;
}